.flex-container{
    display: flex;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Farbcodes: *003fbc-b4edd2-a0cfd3-8d94ba-9a7aa0*/

a {
    color: white;
    text-decoration: inherit;
    font-size: 19px;
}

h1 {
    margin: 0px;
    padding-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

h2{
    font-size: 25px;
    margin-bottom: 0px;
}

p{
    font-size: 19px;
}

nav {
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: #003FBC;
    /* ;) */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: larger;
    padding: 35px 0;
}

/*About Me*/

#aboutMe div {
    padding-bottom: 20px;
}

#aboutMe {
    margin: 0px;
    padding: 20px 20px 20px 20px;
}

#meineHobbies {
    position: relative;
    padding: 20px;
    width: 70%;
}

#bildVonMir {
    object-fit: cover;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    /* height: 100%; */
    margin-right: 30px;
}

.aboutMe-container{
    width: 70%;
    margin: 0 auto;
    align-items: center;
}

/*Bildungsweg*/

#bildungsweg {
    background-color: #8D94BA;
    margin: 0px;
    padding: 20px 0px 20px 0px;
}

#bildungsweg article {
    padding-bottom: 10px;
    font-size: 19px;
    padding: 20px;
    border-radius: 10px;
    margin: 30px auto;
    background-color: #cccccc;
    width: 50%;
}

#bildungsweg p{
    margin-bottom: 0;
}

/*Projekte*/

#projekte {
    padding: 20px 0px 20px 0px;
}

#projekte a {
    color: #003FBC;
}

.htmlProjekt {
    padding-bottom: 10px;
}

.htmlProjekt p{
    margin-bottom: 10px;
}

.img-container{
    width: 50%;
    margin: 0 auto;
}

.img-container img{
    width: 50%;
}

/*Footer*/

footer {
    background-color: #003FBC;
    color: white;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    padding-top: 30px;
}

#kontaktItems {
    justify-content: space-around;
}

#kontaktItems div {
    padding: 30px 0;
    width: 100%;
    align-items: center;
}

.flex-center {
    justify-content: center;
}

.flex-center img{
    padding: 0 20px;
}

#kontaktItems img{
    fill: white;
}

#kontaktItems span{
    font-size: xx-large;
}

/*Anpassungen für meine Bilder*/

.flexContainer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}


@media (min-width: 1025px) {
    #aboutMe{
        padding-left: 100px;
    }
}